.banner3 {
    padding: 100px 0;
    @media only screen and(max-width: 1165px) {
        display: block;
    }
    .awads {
        background: url(../image/banner3.png) center /cover no-repeat;
        height: 462px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .update {
        h2 {
            @include topic;
            width: 75%;
            margin: auto;
            padding: 20px 0;
        }
        button {
            background: #FB2E86;
            color: #ffffff;
            width: 157px;
            height: 45px;
            border: none;
            border-radius: 3px;
            @include button;
        }
    }
    .image {
        padding-top: 90px;
        max-width: 1140px;
        width: 100%;
        margin: auto;
        @media only screen and(max-width: 1165px) {
            display: none;
        }
    }
}